.id-card{
  border: 1px solid;
  display: flex;
  align-items: center;
  margin: 5px;
}

.text{
  display: flex;
  flex-direction: column;
}

.idP{
  margin: 0;
}

.box-color{
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.cardlogos{
width: 50px;
margin-left: 220px;
margin-top: 20px;
}

.bankExp{
  display: flex;
  flex-direction: row;
}

.cardP{
  margin: 3px;
}

.wholeinfo{
  margin-left: 30px;
  margin-bottom: 30px;

}

.cardnum{
  font-size: 22px;
  margin-bottom: 10px;
}

/* .allcards{
  display: grid;
grid-template-rows: repeat(3, 1fr);
} */

.driverallcard{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(44, 44, 182);
  border-radius: 20px;
  padding: 40px;
}

.drivercard{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.driverimg{
width: 90px;
height: 90px;
border-radius: 100px;

}

.drating{
  display: flex;
  justify-content: flex-start;
  margin: 0;
  align-items: center;
}